<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mquizz">


    <application
        android:allowBackup="true"
        android:icon="@drawable/logoog"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoog"
        android:supportsRtl="true"
        android:theme="@style/Theme.MQuizz">
        <activity android:name=".liste_score"></activity>
        <activity android:name=".score" />
        <activity android:name=".q4" />
        <activity android:name=".q3" />
        <activity android:name=".slider" />
        <activity android:name=".matiere" />
        <activity android:name=".filiere" />
        <activity android:name=".pseudo" />
        <activity android:name=".acceuil" />
        <activity android:name=".q2" />
        <activity android:name=".q1" />
        <activity android:name=".scripte1" />
        <activity android:name=".QuizActivity"/>
        <activity android:name=".ResultActivity"/>
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>